@font-face {
    src: url('../assets/fonts/Roboto-Regular.ttf');
    font-family: 'roboto';
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    font-family: 'roboto';
}

body
{
    background-color: #dccaf7;
}

header
{
    background-color: #aceaf8;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

header h1
{
    font-size: 250%;
}

.big-container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.addnewbtn
{
    cursor: pointer;
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 150%;
}

.category-container
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.category
{
    width: 200px;
    height: 400px;
    background-color: #aceaf8;
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
}

::-webkit-scrollbar
{
    width: 0;
    height: 0;
}

.cat-titles
{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    justify-content: center;
}

.addnewtaskbtn
{
    background-color: #dccaf7;
    text-align: center;
    padding: 5px;
    margin: 10px;
    cursor: pointer;
    justify-content: center;
}

.addnewtaskbtn:hover
{
    color: #aceaf8;
    background-color: black;
    transition: all 0.5s;
}

.remove-cat-btn
{
    background-color: #dccaf7;
    padding: 5px;
    font-weight: bold;
    /*bottom: 15px;*/
    cursor: pointer;
    justify-content: flex-end;
}

.remove-cat-btn:hover
{
    color: #aceaf8;
    background-color: red;
    transition: all 0.5s;
}

.new-inputs
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.task-after
{
    text-align: center;
    background-color: #dccaf7;
    margin-top: 15px;
    width: 180px;
    border-radius: 5px;
}

.new-inputs
{
    padding: 10px;
}

.task-inputs
{
    padding: 5px;
}

.task-save-btn
{
    cursor: pointer;
}

.task-after
{
    cursor: pointer;
}

.overlay
{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    opacity: 1;
}
.popup
{
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.add-add-desc
{
    border: 0;
    font-family: 'roboto';
    cursor: pointer;
    padding: 5px;
    background-color: inherit;
}